.contentBg{
	background-image: url("../images/agsquarehijau.png");
	display:cover;
}

.transparentBox{
	background:none;
	box-shadow:none;
}

.boxPutih{
	background-color:white;
}

.boxDaun{
	background-image:url("../images/bgdaun.png");
	background-size:cover;
}

.judulPage{
	margin-top:20px;
}

.logoGsmCenter{
	content: url("../images/origsm.png");
	display:block;
	width:20%;
	height:50px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

.bgInfo{
	background-image: url("../images/backgroundhijau.png");
	background-size:100% 100%;
	background-repeat: no-repeat;
}

.iconDipelajari{
	content: url("../images/iconpelajari.png");
	display:block;
	margin-left:25%;
	margin-right:75%;
}

.iconMateri{
	content: url("../images/iconmateri.png");
	display:block;
	margin-left:25%;
	margin-right:75%;
}

.iconTantangan{
	content: url("../images/icontantangan.png");
	display:block;
	margin-left:25%;
	margin-right:75%;
}

.iconGrup{
	content: url("../images/icongrup.png");
	display:block;
	margin-left:25%;
	margin-right:75%;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #00ffa5;
}

.owl-carousel .owl-stage-outer {
    height: 300px;
    margin-top: 50px;
}

.footer {
  background-color: #efefef;
  flex: 0 0 50px;
  margin-top: auto;
}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    background-color: #128c7e !important;
    border: 1px solid #128c7e !important;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info {
	background-color: #128c7e !important;
	border: 1px solid #128c7e !important;
}
.navbar-default {
  background-color: #072661;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
}

#sidebar-menu > ul > li > a.active {
    background: #f4f8fb !important;
    border-left: 3px solid #072661;
    color: #072661 !important;
    font-weight: 500;
}
#sidebar-menu > ul > li > a:hover {
  color: #4ab2ef;
  text-decoration: none;
}

#sidebar-menu .subdrop {
  background: #f4f8fb !important;
  border-left: 3px solid #072661;
  color: #072661 !important;
}

#sidebar-menu > ul > li > a:hover {
  color: #4ab2ef;
  text-decoration: none;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
  position: relative;
  width: 260px;
  background: #f4f8fb;
  color: #4ab2ef;
  border-color: #4ab2ef;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
  color: #4ab2ef;
}
#wrapper.enlarged .left.side-menu #sidebar-menu li .show-menu + ul a:hover {
  color: #4ab2ef;
}
#sidebar-menu ul ul li.active a {
    color: #072661;
}
#sidebar-menu ul ul a:hover {
    color: #4ab2ef;
}
#wrapper.enlarged .left.side-menu #sidebar-menu a.subdrop {
    color: #072661 !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li.active a {
  color: #072661;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
  color: #072661;
}