.elearningBg{
	background-image:url('../images/agsquarebiru.png') !important;
	background-repeat:repeat;
}

.text-center.mt-4.subItem{
	font-family: Tahoma, Verdana, sans-serif !important;
	font-size: 20px !important;
	color:white;
	font-weight:bold;
}

.text-center.descItem{
	font-family: Tahoma, Verdana, sans-serif !important;
	font-size: 15px !important;
	color:white;
}

#support-trigger,
#settings-trigger{
	background: #b8dff6;
	border: 2px solid #7600cf;
}

#support-trigger-i,
#settings-trigger-i{
	color:#7600cf !important;
}

.prinsip{
	background-color:#3871bc;
	padding-top:75px;
	padding-bottom:100px;
	justify-content:center;
}
.d-flex.justify-content-center.animateImage:hover{
	transform:scale(1.3);
}
.d-flex.justify-content-center.animateImage{
	transition: transform 0.8s;
}
.prinsip >.text-center.h2, .fitur >.text-center.h2{
	width:50% !important;
	background-color:white !important;
	padding-top:8px;
	padding-bottom:8px;
	margin:auto;
	font-family: Tahoma, Verdana, sans-serif !important;
	font-weight:bolder;
	border-radius:15px;
}

#fiturImg{
	border-radius:30px;
	max-width:150px;
	width:100%;
}

.descFitur{
	border-radius:5px;
	max-width:200px;
	width:100%;
	margin:auto;
	background-color:rgba(192,223,255,0.6);
	height:120px;
	padding-top:5%;
	padding-left:2%;
	padding-right:2%;
}

.containerFitur{
	background-color:#fff;
	padding-top: 15px;
	width:100%;
	margin:auto;
	border-radius:20px;
}

.prinsip >.text-center.h4{
	padding-top:15px;
	padding-bottom:5px;
	margin:auto;
}

.containerPrinsip{
	  width:1000px;
	  height:600px;
	  display:grid;
	  grid-template-columns: 470px 470px;
	  grid-template-rows: 300px 300px;
	  grid-column-gap: 20px;
	  grid-row-gap: 20px;
	  margin:auto;
}

.row.mt-5.boxPrinsip{
	padding:20px;
    display:flex;
    align-items:center;
    justify-content:center;
	transition: all 0.6s ease-in;
}

.gambarPrinsip{
	width:100%;
	max-width:200px;
	height:auto;
	transition:all 1s;
	display:block;
}

.gambarPrinsip:hover{
	transform:scale(1.2);
}

#prinsip1:hover + .gambarhover1{
	opacity:1;
}

#prinsip2:hover + .gambarhover2{
	opacity:1;
}

#prinsip3:hover + .gambarhover3{
	opacity:1;
}

#prinsip4:hover + .gambarhover4{
	opacity:1;
}

.descPrinsip{
	background-color:white;
	border-radius:10px;
	height:100px;
	width:100%;
	max-width:200px;
}

.gambarhover1{
	  position: absolute;
	  bottom: -5%;
	  background: rgba(134, 166, 255, 1);
	  color: #fff;
	    -webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: #000;
	  width: 90%;
	  transition: .5s ease;
	  font-weight:bolder !important;
	  opacity:0;
	  font-size: 20px;
	  padding: 20px;
	  text-align: center;
	  border-radius:20px;
	  font-family:tahoma;
}

.gambarhover2{
	  position: absolute;
	  bottom: -5%;
	  background: rgba(235, 142, 25, 1);
	  color: #fff;
	    -webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: #000;
	  width: 90%;
	  transition: .5s ease;
	  font-weight:bolder !important;
	  opacity:0;
	  font-size: 15px;
	  padding: 20px;
	  text-align: center;
	  border-radius:20px;
	  font-family:tahoma;
}

.gambarhover3{
	  position: absolute;
	  bottom: -5%;
	  background: rgba(164, 1, 193, 1);
	  color: #fff;
	    -webkit-text-stroke-width: 0.3px;
		-webkit-text-stroke-color: #000;
	  width: 90%;
	  transition: .5s ease;
	  font-weight:bolder !important;
	  opacity:0;
	  font-size: 15px;
	  padding: 20px;
	  text-align: center;
	  border-radius:20px;
	  font-family:tahoma;
}

.gambarhover4{
	  position: absolute;
	  bottom: -5%;
	  background: rgba(49, 213, 130, 1);
	  color: #fff;
	    -webkit-text-stroke-width: 0.3px;
		-webkit-text-stroke-color: #000;
	  width: 90%;
	  transition: .5s ease;
	  font-weight:bolder !important;
	  opacity:0;
	  font-size: 15px;
	  padding: 20px;
	  text-align: center;
	  border-radius:20px;
	  font-family:tahoma;
}

@media only screen and (max-width :1230px){
	.containerPrinsip{
		  width:300px;
		  height:300px;
		  display:grid;
		  grid-template-columns: 150px 150px;
		  grid-template-rows: 150px 150px;
		  grid-column-gap: 10px;
		  grid-row-gap: 10px;
		  margin:auto;
	}
	.gambarPrinsip{
		width:100%;
		max-width:100px;
		height:auto;
	}
	.row.mt-5.boxPrinsip{
		padding:10px;
		display:flex;
		align-items:center;
		justify-content:center;
		font-size:9px !important;
	}
	.gambarhover1{
	  position: absolute;
	  bottom: -2%;
	  background: rgba(134, 166, 255, 1);
	  color: #fff;
	  width: 90%;
	  transition: .5s ease;
	  opacity:0;
	  font-size: 12px;
	  padding: 5px;
	  text-align: center;
	  border-radius:10px;
	}
	.gambarhover2{
	  position: absolute;
	  bottom: -2%;
	  background: rgba(235, 142, 25, 1);
	  color: #fff;
	  width: 90%;
	  transition: .5s ease;
	  opacity:0;
	  font-size: 11px;
	  padding: 5px;
	  text-align: center;
	  border-radius:10px;
	}
	.gambarhover3{
	  position: absolute;
	  bottom: -2%;
	  background: rgba(164, 1, 193, 1);
	  color: #fff;
	  width: 90%;
	  transition: .5s ease;
	  opacity:0;
	  font-size: 8px;
	  padding: 5px;
	  text-align: center;
	  border-radius:10px;
	}
		.gambarhover4{
	  position: absolute;
	  bottom: -2%;
	  background: rgba(49, 213, 130, 1);
	  color: #fff;
	  width: 90%;
	  transition: .5s ease;
	  opacity:0;
	  font-size: 10px;
	  padding: 5px;
	  text-align: center;
	  border-radius:10px;
	}
 }
